:root{
    -cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --primary-blue: #EAF2FD;
    --main-background: #f5f5f5;
    --primary-text-color: #464646;
    --primary-button-color: #2A7AE4;
    }

    
.tudo{
    min-width: 768px;
    max-width: 1199px;
    margin: 0 auto;
}

.secciones{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu__title{
    /* margin-right: 199px; */
}

.menu__header li{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

.menu__list__item__contato{
    display: flex;
    justify-content: space-between;
}

.menu__header h3{
    font-size: 1.7rem;
}

.menu__header img{
    width: 60px;
    height: 60px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-evenly; */
    /* border: solid darkblue; */
    padding: 20px 0 0 0;
}

.title__profile{
    width: 146px;
    height: 146px;
}

.title__container{
    /* border: solid greenyellow; */
    padding: 0 32px 0 0;
}

.title__subsection{
    padding-right: 40px;
}

.title__network{
    display: flex;
    justify-content: space-evenly;
}

.title__network__item{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

/* section.experience{
    border: coral solid;
} */

/* experiencia profesional */
.experience__professional--slider{
    display: flex;
    /* height: 310px; */
    height: 340px;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 30px;
}

.experience__professional--card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    width: 97%;
    min-width: 300px;
    max-width: 300px;
    height: 250px;
    margin: 20px 11px 0;
    padding: 0 15px; /* para crear un pequeño borde */
    background-color: var(--color-light);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.experience__professional--card .experience__img{
    width: 150px;
    height: 90px;
    align-self: center;
}


.academic__courses{
    display: flex;
    flex-direction: column;
    height: auto;
}

.academic__title{
    margin-top: 32px;
}

.academic__courses__box{
    /* border: #2A7AE4 solid; */
    width: 250px;
    height: 230px;
    justify-content: center;
    /* align-items: flex-start; */
}

.academic__courses__list{
    margin: 20px;
}

.experience__section__title{
    color: var(--primary-text-color);
}

.experience__projects{
    display: flex;
    flex-direction: row;
}

.formcontato__contacto{
    width: 100%;

}

.formcontato__text{
    width: 85%;
    /* margin: 0 32px; */

}

.formcontato__textarea{
    width: 100%;
}

.language-switcher {
    font-size: 1.6rem;
    padding: 8px;
    margin-right: 20px;
}

.zoom:hover{
    transform: scale(1.1);
}