
:root{
-cor-de-fundo: #F5F5F5;
--cor-de-link: #000;
/* --primary-blue: #EAF2FD; */
--primary-blue: #EAF6F6;
--main-background: #f5f5f5;
--primary-text-color: #464646;
--primary-text-red:#FF2442;
--primary-text-yellow:#FFB830;
--primary-button-color: #3DB2FF;
}

*{
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: var(--main-background);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    /* border: solid seagreen; */
    width: 100%;
    height: auto;
}

.menu__header{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    padding: 17px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

.menu__header h3{
    margin-left: 9px;
    font-size: 1.2rem;
}

.menu__header li{
    margin-left: 29px;
    font-size: 1.4rem;
}

.menu__header li a{
    color: #3DB2FF;
}

.menu__header img{
    width: 18px;
    height: 18px;   
}

.main-nav{
    display: none;
}

/*Sección Title*/
section.title{
    /* border: solid fuchsia; */
    display: flex;
    padding: 16px;
}

.title__div{
    display: flex;
    flex-direction: column;
}

.title__profile{
    width: 98px;
    height: 98px;
    align-self: center;
}

/* .title__container{
    border:  solid purple 1px;
} */

.title__container h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: justify;
    color: var(--primary-text-color);
    margin-top: 16px;
}

.title__subsection{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    text-align: justify;
    color: var(--primary-text-color);
    margin-top: 16px;
    margin-bottom: 16px;
}

.title__subsection--bold{
    font-weight: bold;
}

.title__subsection--italic{
    font-style: italic;
}


.title__network{
    /* border:  solid orange 1px; */
    padding-left: 0px;
    margin-bottom: 16px;
    position: sticky;
}

.title__network li{
    display: inline;
    /* margin: 0 6px 0 0; */
    margin-right: 15px;
    font-weight: 600;
}

.title__network__item{
    font-size: 1.07rem;
}

.title__network li a{
    color: var(--primary-text-red);
}

/*Sección About*/

section.about{
    /* border: solid fuchsia 1px; */
    background-color: var(--primary-blue);
    padding: 16px;
}

.about__container h3{
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

.about__title{
    margin-bottom: 16px;
}

.about__paragraph{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--cor-de-link);
    color: var(--primary-text-color);
    text-align: justify;
}

.about__container img{
    width: 140px;
    height: 52px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/*Secciones*/

/*Sección skills*/

section.skills{
    /* border: solid violet; */
    padding: 10px 16px 10px 16px;
    margin-top: 1.6rem;
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
}

.skills h3{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
}

.skills__line{
    /* border: solid rgb(0, 255, 119) 1px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.skills__box{
    /* border: solid 1px blue; */
    width: 50%;
}

.skills ul{
    height: 118px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    /* justify-content: center */
    align-content: flex-end;
    padding: 63px 50px 10px 12px;
    margin: 12px;
}

.skills__name{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-text-color);
    /* margin-top: 10px; */
    line-height: 1.8rem;
}

.skills__img img{
    width: 28px;
    height: 28px;
}

.node img{
    width: 55px;
    height: 30px;
}


/*Sección competencias*/

section.competencias{
    padding: 0px 16px 10px 16px;
    margin-top: 1.6rem;
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
}

.competencias__title{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
}

.competencias__line{
    /* border: solid rgb(0, 255, 119) 1px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.competencias__box{
    width: 50%;
}

.competencias ul{
    height: 118px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 50px 50px 10px 12px;
    margin: 12px;
}

.competencias__name{
    /* text-align: justify; */
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

.competencias__img img{
    width: 28px;
    height: 28px;
}


/* Experiencia Académica*/

section.academic{
    background-color: var(--primary-blue);
    width: 100%;
    /* height: 800px; */
    height: auto;
    margin: 0 auto;
}

.academic__title{
    /* border: solid dodgerblue; */
    padding-top: 16px;
    text-align: center;
    font-size: 2.2rem;
    color: var(--primary-text-color);
}

.academic__courses{
    /* border: solid fuchsia; */
    width: 100%;
    /* height: 661px; */
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.academic__courses__box{
    /* border: solid forestgreen; */
    /* width: 100%; */
    width: 296px;
    height: auto;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

.academic__courses__item__img{
    text-align: center;
}

.academic__courses__item__title, .academic__courses__item__subtitle{
    text-align: center;
    margin: 8px 0 8px 0;
}

.academic__courses__item__title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--primary-text-color);
}

.academic__courses__item__subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3rem;
    color: var(--primary-text-color);
}

/* experiencia*/

section.experience{
    /* border: solid olive; */
    width: 100%;
    /* height: 851px; */
}

.experience__section__title{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}

.experience__projects{
    /* border: solid fuchsia; */
    width: 100%;
    /* height: 661px; */
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.experiencie__box{
    /* border: solid forestgreen; */
    /* width: 100%; */
    width: 296px;
    height: auto;
    margin: 0 auto;
}

.experience__img{
    margin-bottom: 16px;
}

.experience__info{
    text-align: center;
}

.experience__title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 19px;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}

.experience__text{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 16px;
    color: var(--primary-text-color);
    margin-bottom: 8px;
}

.experience__description{
    /* border: solid 1px gold; */
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

.experience__description2{
    /* border: solid 1px gold; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 32px;
    text-align: justify;
}

.experience__description2 h4, h5{
    font-weight: 700;
}

/* experiencia otros */
.experience__projects2{
    /* border: solid fuchsia; */
    width: 100%;
    /* height: 661px; */
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    background-color: var(--primary-blue);
}

.experiencie__box2{
    /* border: solid forestgreen; */
    /* width: 100%; */
    width: 296px;
    height: auto;
    margin: 0 auto;
}

.experiencia__botao--repo, .experience__botao--demo{
    border: solid var(--primary-button-color) 1px;
    padding: 6px;
    font-size: 1.4rem;
    font-style: normal;
    letter-spacing: .08em;
    /* font-weight: 100; */
    line-height: 16px;
    color: var(--primary-button-color);
    cursor: pointer;
    border-radius: 3px;
}

.experience__botao--demo{
    background-color: #2A7AE4;
    color: white;
}

.experiencia__botao--repo:hover{
    background-color: #2A7AE4;
    color: white;
}
.experience__botao--demo:hover{
    background-color: white;
    color: #2A7AE4;
}

section.languages{
    padding: 0px 16px 10px 16px;
    margin-top: 1.6rem;
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
}

.languages__title{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
}

.languages__line{
    /* border: solid rgb(0, 255, 119) 1px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.languages__box{
    width: 50%;
}

.languages ul{
    height: 118px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 50px 50px 10px 12px;
    margin: 12px;
}

.languages__name{
    /* text-align: justify; */
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

.languages__img img{
    width: 28px;
    height: 28px;
}

section.intereses{
    padding: 0px 16px 10px 16px;
    margin-top: 1.6rem;
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
}

.intereses__title{
    font-size: 2.2rem;
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
}

.intereses__line{
    /* border: solid rgb(0, 255, 119) 1px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.intereses__box{
    width: 50%;
}

.intereses ul{
    height: 118px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    padding: 50px 50px 10px 12px;
    margin: 12px;
}

.intereses__name{
    /* text-align: justify; */
    font-size: .9rem;
    font-weight: 700;
    color: var(--primary-text-color);
    line-height: 1.8rem;
}

.intereses__img img{
    width: 28px;
    height: 28px;
}

/*Contacto*/

section.formcontato{
    background-color: var(--primary-blue);
    width: 100%;
    /* height: 675px; */
}

.formcontato__contacto{
    width: 100%;
    /* height: 661px; */
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    margin-bottom: 0;
    /* margin-top: 32px; */
}

.formcontato__text{
    /* border: solid forestgreen; */
    /* width: 100%; */
    width: 296px;
    height: auto;
    margin: 0 auto;
}

.formcontato__title{
    margin: 32px 0;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--primary-text-color);
}

.formcontato__subtext{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 16px;
    color: var(--primary-text-color);
}

#subtext{
    margin-bottom: 32px;
}

.subtitle{
    color: var(--primary-text-yellow);
}

.formcontato__form{
    /* border: solid firebrick; */

}

.formcontato__input{
    width: 100%;
    height: 56px;
    margin-top: 32px;
    border-radius: 4px;
    background: white;
    border: none;
    border-bottom: 1.5px solid gray;
    font-size: 1.2rem;
    padding: 20px 0 0 13px;
}

#inputONE{
    margin-top: 0;
}

.formcontato__textarea{
    margin-top: 32px;
    border-radius: 4px;
    border: none;
    border-bottom: 1.5px solid gray;
    font-size: 1.2rem;
    padding: 20px 0 0 13px;
    background: white;
    margin-bottom: 32px;
}


.formcontato__input--title{
    position: absolute;
    margin: 8px 0 4px 12px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #a2a2a2;
}

.formcontato__input--title2{
    position: absolute;
    margin: 40px 0 4px 12px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #a2a2a2;
}

.formcontato__input--title3{
    position: absolute;
    margin: 40px 0 4px 12px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #a2a2a2;
}

.formcontato__input--title4{
    position: absolute;
    margin: 40px 0 4px 12px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #a2a2a2;
}

.formcontato__botao{
    margin-bottom: 32px;
    width: 133px;
    height: 40px;
    padding: 12px 16px;
    background-color: var(--primary-button-color);
    color: white;
    font-size: 1.2rem;
    /* text-align: center; */
    font-weight: 600;
    border: none;
    letter-spacing: .04rem;
    cursor: pointer;
}

.formcontato__botao:hover{
    background: white;
    color: var(--primary-button-color);
    border: solid 1px var(--primary-button-color);
}

/*footeer*/

section.footer{
    /* border: solid firebrick; */
    width: 100%;
    /* height: auto; */
    /* background-color: white; */
    /* background-color: #2A7AE4; */
    background-color: #FFEDDA;
    padding: 40px;
}

.footer__rodape{
    /* border: solid salmon 1px; */
    background-color: white;
    padding: 12px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    border-radius: 9px;
}
.zoom:hover{
    transform: scale(1.1);
}

.tudo{
    min-width: 320px;
    max-width: 425px;
    margin: 0 auto;
}

.language-switcher {
    margin-left: auto;
    padding: 5px;
    margin-left: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}